.custom-select__list {
  list-style-type: none;
  border: 2px solid var(--color-action);
  padding: 0.5rem;
}

.custom-select__list [role="option"] {
 margin-bottom: 0.5rem;
  padding-left: 0.5rem;
}

.custom-select__list [role="option"]:hover {
  outline: 3px solid var(--color-action-hover);
  background-color: var(--color-surface);
  cursor: pointer;
}

.custom-select__list [role="option"]:focus-visible {
  outline: 3px dashed var(--color-focus);
  outline-offset: 3px;
  background-color: var(--color-surface);
}

.custom-select__list [role="option"][aria-selected="true"] {
  background-color: var(--color-action);
  color: var(--color-on-action);
}

.custom-select__trigger {
  all: unset;
  display: block;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;

  padding: 0.75rem 1rem;
  background-color: var(--color-button);
  color: var(--color-on-action);

  border: 3px solid var(--color-button);
  border-radius: 4px;
}

.custom-select__trigger:hover {
  background-color: var(--color-surface);
  color: var(--color-button-hover);
  text-decoration: underline;
}

.custom-select__trigger:focus-visible {
   outline: 3px dashed var(--color-focus);
   outline-offset: 3px;
}
