.custom-select__list {
  list-style-type: none;
  border: 2px solid var(--color-primary);
  padding: 0.5rem;
}

.custom-select__list [role="option"] {
 margin-bottom: 0.5rem;
  padding-left: 0.5rem;
}

.custom-select__list [role="option"]:hover {
  outline: 3px solid var(--color-primary);
  background-color: #FFFFFF;
  cursor: pointer;
}

.custom-select__list [role="option"]:focus-visible {
  outline: 3px dashed var(--color-primary);
  outline-offset: 3px;
  background-color: #FFFFFF;
}

.custom-select__trigger {
  all: unset;
  display: block;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;

  padding: 0.75rem 1rem;
  background-color: var(--color-bg);
  color: #ffffff;

  border: 3px solid var(--color-bg);
  border-radius: 4px;
}

.custom-select__trigger:hover {
  background-color: #ffffff;
  color: var(--color-action);
  text-decoration: underline;
}

.custom-select__trigger:focus-visible {
   outline: 3px dashed var(--color-bg);
   outline-offset: 3px;
}
